# Application Ports
PORT=5000
FRONTEND_PORT=3000
AI_SERVICE_PORT=8000

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyB0QHSPCM6ids18NgTvW0V05Ez0I7wHcmE"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="gridflowx.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="gridflowx"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="gridflowx.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="368822481855"
NEXT_PUBLIC_FIREBASE_APP_ID="1:368822481855:web:931d48497f3ba731ad270a"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-VBLLTEYGBE"
NEXT_PUBLIC_AI_SERVICE_URL="http://localhost:8000"

